.container{
    width : 20rem;
    min-height : 12rem;
    max-height : 12rem;
    display:inline-block;
}


.lienDiscret {
    text-decoration: none;
    color: inherit;
}

.image{
    max-height:100%;
    max-width:100%;
}