
.tests {
  padding: 0 20px;
}

.test-wrapper {
  list-style: none;
  margin: 10px;
}

.test-title {
  background-color: rgba(95%,95%,95%,1);
  padding: 10px;

  cursor: pointer;
}


.test-title:focus {
  background-color: rgba(90%,90%,90%,1);
  outline: 0;
}

.test-title:hover {
  background-color: rgba(98%,98%,98%,1);
}

.test {

}
